
li, p {
    text-align: justify;
}

.main-wrapper li {
    margin-right: 40px;
}

@media print {
    .page-break {
        break-before: page;
        page-break-before: always; /* fallback for older browsers */
        margin-top: 60px;
    }

    .main-wrapper .time {
        padding: 0;
    }

    .sidebar-wrapper .container-block {
        padding: 20px;
    }
}

.main-wrapper .time {
    padding: 0 !important;
}

.print-button, .pdf-button {
    visibility: hidden;
}
